*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
/* END OF GLOBAL STYLING */

/* Start of nav-bar styling */
.nav-bar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 14px 0 #0000001b;
  z-index: 99999;
}
.nav-bar .container {
  margin: 0 75px;
  font-family: system-ui, -apple-system;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
  flex-wrap: wrap;
}
.nav-bar .container h1 {
  margin: 0;
}
.nav-bar .container h1 a {
  color: black;
}
.nav-bar .container h1 span {
  color: #ce1010;
}
.nav-bar .container ul {
  padding: 0px;
  list-style: none;
  display: flex;
  column-gap: 20px;
  margin: 0;
}
.nav-bar .container ul li {
  position: relative;
}
.nav-bar .container ul li::after {
  content: "";
  position: absolute;
  border-top: 3px solid #ce1212;
  left: 0;
  top: 26px;
  width: 0;
  transition: 0.5s width;
}
.nav-bar .container ul li:hover::after {
  width: 100%;
}
.nav-bar .container ul li a {
  color: #7f7f90;
  transition: 0.5s color;
}
.nav-bar .container ul li a i {
  display: none;
  color: black;
}
.nav-bar .container ul li:hover a {
  color: black;
}
.nav-bar .container i {
  font-size: 25px;
  cursor: pointer;
}
.nav-bar .container .selected {
  border-bottom: 3px solid #ce1212;
  padding-bottom: 4px;
}
.nav-bar .container .selected a {
  color: black;
}
/*                                                            END of nav-bar styling */

/*                                                            media query for nav-bar */

@media (max-width: 1200px) {
  .nav-bar .container ul {
    display: flex;
    flex-direction: column;
    background-color: #ffffff4d;
    justify-content: center;
    order: 2;
    position: fixed;
    top: 65px;
    right: 0px;
    gap: 35px;
    padding: 30px 10px;
    margin: 0;
  }
  .nav-bar .container ul li a i {
    display: block;
    font-size: 16px;
  }
  .nav-bar .container ul li a:hover i {
    color: #ce1212;
  }
  .nav-bar .container ul li a span {
    display: none;
  }
  .nav-bar .container ul li::after {
    border: none;
  }
  .nav-bar .container .selected {
    border: none;
  }
}
@media (max-width: 992px) {
  .nav-bar .container {
    padding: 25px 0;
    margin: 0 75px;
  }
}
@media (max-width: 768px) {
  .nav-bar .container {
    padding: 25px 0;
    margin: 0 35px;
  }
}
/* start of header styling */
.header {
  background-color: #eeeeee;
  height: 100vh;
}
.header .container {
  margin: 90px 75px 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5px 0;
}
.header .container .text {
  width: 40%;
}
.header .container .text h2 {
  color: #37373f;
  font-size: 65px;
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  margin: 0;
}
.header .container .text p {
  color: #4f4f5a;
  line-height: 1.5;
  font-family: sans-serif;
}
.header .container button {
  border: none;
  background-color: #ce1212;
  padding: 13px 30px;
  border-radius: 99px;
  border-top-left-radius: 0;
  cursor: pointer;
  transition: 0.5s background-color;
}
.header .container button a {
  color: white;
}
.header .container button:hover {
  background-color: #e51010;
}
.header .container .text .info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header .container .text .vid-button {
  display: flex;
  align-items: center;
}
.header .container .text .vid-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #ce1212 0 50%, transparent 0 50%);
  border-radius: 50%;
  transition: 0.5s all;
}
.header .container .text .vid-button .icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #fff;
}
.header .container .text .vid-button .icon a i {
  position: relative;
  z-index: 10;
  color: black;
  transition: 0.5s color;
}
.header .container .text .vid-button:hover .icon a i,
.header .container .text .vid-button:hover a {
  color: #e51010;
}
.header .container .text .vid-button a {
  transition: 0.5s all;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
  color: black;
}
.header .container picture {
  width: 40%;
  transition: 0.5 all;
}
.header .container picture img {
  width: 100%;
  filter: drop-shadow(5px 5px 9px #000a);
  display: block;
}
/*                                                                end of header styling */

/*                                                                media query for header */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .header {
    min-height: 100vh;
  }
  .header .container {
    margin: 90px 75px 0 75px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .header .container .text {
    order: 2;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header {
   height: 100vh;
  }
  .header .container {
    margin: 90px 35px 0 ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header .container picture {
    width: 50%;
  }
  .header .container .text {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
   
  }
  
}
@media (max-width: 640px)
{
  .header .container {
    margin: 90px 10px 0 ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header .container .text h2
  {
    font-size: 55px;
  }
  .header .container .text .info
  {
    flex-direction: column;
    
  }
  .header .container button 
  {
    padding: 13px 30px;
    border-radius: 99px;
    margin-bottom: 25px;
  }
}

/*                                                                start of chefs styling  */
.chefs .container {
  margin: 50px 75px 0;
  text-align: center;
  padding: 40px 5px;
}
.chefs .container h2 {
  font-family: sans-serif;
  font-size: 15px;
  color: #7f7f90;
  margin: 0;
}
.chefs .container p {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #212629;
  margin: 0;
}
.chefs .container p span {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  color: #ce1212;
}
.chefs .container .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 40px;
}
.chefs .container .cards .card {
  font-family: sans-serif;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 32%);
  position: relative;
  overflow: hidden;
  transition: 0.5s all;
}
.chefs .container .cards .card:hover {
  transform: scale(1.1);
}
.chefs .container .cards .card .image img {
  width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.chefs .container .cards .card .image
{
  position: relative;
}
.chefs .container .cards .card .image::after
{
  content: "";
  position: absolute;
  background-image: url(../images/wave33.svg);
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wave-svg
{
  background-color: transparent;
  position: relative;
  color: white;
  
}











.chefs .container .cards .card .text {
  padding: 10px 25px 25px;
}
.chefs .container .cards .card .text h3 {
  margin: 0 0 5px;
}
.chefs .container .cards .card .text span {
  color: #7f7f90;
}
.chefs .container .cards .card .text p {
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  color: #7f7f90;
  line-height: 1.5;
}
.chefs .container .cards .card .social {
  position: absolute;
  top: 20px;
  right: -100px;
  background-color: #ffffff4d;
  border-radius: 6px;
  transition: 0.5s 0.5s right;
}
.chefs .container .cards .card:hover .social {
  right: 5px;
}
.chefs .container .cards .card .social ul {
  list-style: none;
  padding: 15px 15px 0;
}
.chefs .container .cards .card .social ul li {
  margin-bottom: 15px;
}
.chefs .container .cards .card .social ul li a {
  font-size: 20px;
  color: #37373f66;
}
.chefs .container .cards .card .social ul li:hover a {
  color: #212629;
}

/*                                                                         END OF CHEFS STYLING  */

/*                                                                          media query for chefs */

@media (max-width: 1200px) {
  .chefs .container {
    margin: 50px 75px 0;
  }
}

@media (max-width: 992px) {
  .chefs .container {
    margin: 50px 75px 0;
  }
  .chefs .container .cards {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0;
    gap: 40px;
  }
  .chefs .container .cards .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .chefs .container {
    margin: 50px 75px 0;
  }
  .chefs .container p {
    font-size: 45px;
    margin: 0;
  }
  .chefs .container .cards {
    flex-direction: column;
  }
  .chefs .container .cards .card
  {
    width: 100%;
  }
  @media (max-width: 640px)
{
  .chefs .container {
    margin: 50px 35px 0;
  }
}
}
/*                                                                         start of gallery styling */

.gallery {
  background-color: #eeeeee;
}
.gallery .container {
  margin: 50px 75px 0;
  text-align: center;
  padding: 40px 5px;
}
.gallery .container h2 {
  font-family: sans-serif;
  font-size: 15px;
  color: #7f7f90;
  margin: 0;
}
.gallery .container p {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #212629;
  margin: 0;
}
.gallery .container p span {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  color: #ce1212;
}
.cont {
  height: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
}
.cell {
  color: white;
  background: #e91e63;
  height: 300px;
  width: 33.3333%;
  border: 4px solid white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 1s all;
}
.cell img {
  display: block;
}
.cell:hover img {
  transform: scale(1.1);
}
.cell:hover .text {
  top: 0;
}
.cell .text {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 1000px;
  transition: 1s top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000ac;
}
.cell .text h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.cell .text p {
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}
.cont .cell img {
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
.c2 {
  height: 550px;
}
.c3 {
  height: 690px;
}
.c4 {
  height: 300px;
}

/*                                                                          end of gallery styling */

/*                                                                           media query for gallery */

@media (max-width: 1200px) {
  .gallery .container {
    margin: 50px 75px 0;
  }
}

@media (max-width: 992px) {
  .gallery .container {
    margin: 50px 75px 0;
  }
  .cont {
    flex-wrap: wrap;
    height: 1600px;
    margin: 40px 0 0;
  }
  .cell {
    width: 50%;
  }
  .c1 {
    order: 1;
  }
  .c2 {
    order: 3;
  }
  .c3 {
    order: 5;
  }
  .c4 {
    order: 4;
  }
  .c5 {
    order: 2;
  }
  .c6 {
    order: 6;
  }
  .c7 {
    order: 7;
  }
}

@media (max-width: 768px) {
  .gallery .container {
    margin: 50px 35px 0;
  }
  .cont {
    height: auto;
  }
  .cell {
    width: 100%;
    height: auto;
  }
}

/*                                                                               start of contact */
.contact .container {
  margin: 50px 75px 0;
  text-align: center;
  padding: 40px 5px;
}
.contact .container h2 {
  font-family: sans-serif;
  font-size: 15px;
  color: #7f7f90;
  margin: 0;
}
.contact .container p {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #212629;
  margin: 0;
}
.contact .container p span {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  color: #ce1212;
}
.contact .container p iframe {
  margin-top: 20px;
  width: 100%;
  height: 350px;
  border: 0;
}
.contact .container .boxes {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contact .container .boxes .box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(calc(100% - 15px) / 2);
  padding: 20px;
  background-color: #eeeeee;
}
.contact .container .boxes .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #e51010;
  color: #fff;
}
/* .contact .container .boxes .box .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */
.contact .container .boxes .box .info h3 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #7d7d7d;
  width: 100%;
  text-align: start;
}
.contact .container .boxes .box .info p {
  font-size: 16px;
  font-family: sans-serif;
  text-align: start;
}
.contact .container .boxes .box .info p a {
  color: black;
}
.contact .container form {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 3px -4px 8px 0px rgba(0, 0, 0, 0.323);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .container form input {
  outline: none;
  border: 1px solid #dedede;
  transition: 0.5s border;
  padding: 15px;
  margin-bottom: 15px;
}
.contact .container form input:focus,
.contact .container form textarea:focus {
  border: 1px solid #ce1212;
}
form #name,
form #email {
  width: 49.5%;
}
form #subject {
  width: 100%;
}
form textarea {
  padding: 15px;
  border: 1px solid #dedede;
  width: 100%;
  outline: none;
  transition: 0.5s border;
  resize: vertical;
}
.contact .container form button {
  background-color: #ce1212;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 35px;
  margin: 30px auto 5px;
  transition: 0.5s background-color;
  cursor: pointer;
}
.contact .container form button:hover {
  background-color: #e51010;
}

/*                                                                    end of contact styling */

/*                                                                    media query for contact */

@media (max-width: 1200px) {
  .contact .container {
    margin: 50px 75px 0;
  }
}
@media (max-width: 992px) {
  .contact .container {
    margin: 50px 75px 0;
  }
  .contact .container form {
    flex-direction: column;
  }
  form #name,
  form #email {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .container {
    margin: 50px 35px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .contact .container .boxes {
    flex-direction: column;
  }
  .contact .container .boxes .box {
    width: 100%;
  }
  .contact .container form {
    flex-direction: column;
  }
  form #name,
  form #email {
    width: 100%;
  }
}

/*                                                                      start of footer dtyling */
footer {
  background-color: black;
}
footer .container {
  margin: 50px 75px 0;
  padding: 40px 5px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}
footer .container .section-1 {
  width: 30%;
  padding: 10px 20px;
}
footer .container .section-1 .part-1 {
  display: flex;
  align-items: center;
}
footer .container .section-1 .part-1 .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
footer .container .section-1 .part-1 .image img {
  width: 100%;
}
footer .container .section-1 .part-1 h3 {
  font-size: 30px;
  margin: 0;
}
footer .container .section-1 .part-1 span {
  font-size: 40px;
  color: #ce1212;
}
footer .container .section-1 h3 {
  position: relative;
}
.section-1 h3.special {
  text-align: center;
}
footer .container .section-1 h3.special::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -15px;
  left: 0;
  border: 1px solid #ffffff4d;
}
footer .container .section-1 .social {
  margin-top: 30px;
}
footer .container .section-1 .social ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
footer .container .section-1 .social ul li a {
  font-size: 25px;
  color: #fff;
}

/*                                                                             end of section-1 */

footer .container .section-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  width: 50%;
}
.section-2 h3 {
  font-size: 25px;
  margin: 0;
}
.section-2 form {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}
.section-2 input {
  padding: 10px;
  width: 80%;
  outline: none;
  margin-right: 10px;
}
.section-2 button {
  padding: 10px 5px;
  border: none;
  background-color: #ce1212;
  color: #fff;
  cursor: pointer;
  transition: 0.5s background-color;
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}
form button:hover {
  background-color: #e51010;
}
.section-2 .links {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.section-2 h3 {
  display: block;
}
.section-2 .links ul {
  list-style: none;
  padding: 0;
}
.section-2 .links ul li {
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  transition: 0.5s transform;
  cursor: pointer;
}
.section-2 .links ul li:hover {
  transform: translateX(7px);
}
.section-2 .links ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0;
  background-color: #95969661;
  width: 200%;
  height: 100%;
  transition: 0.5s opacity;
}
.section-2 .links ul li:hover::after {
  opacity: 1;
}
.section-2 .links ul li i {
  margin-right: 10px;
}
.section-2 .links ul li a {
  color: white;
}

/*                                                                             end of section 2 */

footer .container .section-3 {
  width: 30%;
  padding: 10px 20px;
}
.section-3 h3 {
  font-size: 25px;
  margin: 0;
}
.section-3 .info {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.section-3 .info p {
  margin: 0;
}
.section-3 .info a {
  color: #fff;
}
.section-3 .info i {
  color: #ce1212;
}
/*                                                                         end of section 3 */

/*                                                                     MEDIA QUERY FOR FOOTER */

@media (max-width: 1200px) {
  footer .container {
    margin: 50px 75px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  footer .container .section-1,
  footer .container .section-3 {
    width: 46%;
    padding: 0;
  }
  .section-2 input {
    width: 90%;
  }
  footer .container .section-2 {
    order: 2;
    width: 90%;
    padding: 0;
    flex-direction: column;
  }
  .section-2 .links ul li::after {
    width: 300%;
  }
  .section-2 .links {
    width: 65%;
  }
}

@media (max-width: 992px) {
  footer .container {
    margin: 50px 75px 0;
    flex-wrap: wrap;
    gap: 20px;
  }

  footer .container .section-1,
  footer .container .section-3 {
    width: 46%;
    padding: 0;
  }
  footer .container .section-2 {
    width: 90%;
  }
  .section-2 .links ul li::after {
    width: 200%;
  }
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 40px 40px 15px;
    margin: 50px 0 0;
  }
  footer .container .section-1,
  footer .container .section-2,
  footer .container .section-3 {
    width: 100%;
    padding: 0;
  }
  footer .container .section-3 {
    order: 3;
    padding: 0;
  }
  .section-2 .links {
    width: 90%;
  }
  .section-2 form
  {
flex-wrap: wrap;
gap: 15px;
  }
  .section-2 input
  {
    width: 100%;
    margin: 0
  }
  .section-2 button 
  {
    width: 100%;
    padding: 10px 0;
  }
  .section-2 .links ul li::after {
    width: 150%;
  }
  footer .container .section-2 p,
  footer .container .section-1 p
  {
    line-height: 1.5;
  }
}
